.header{
  position: relative;
  height: 100vh;
  font-size: 1.2rem;
  &:before{
    content: '';
    display: block;
    background-color: #000;
    height: 70%;
    width: 25px;
    position: absolute;
    top: 0;
    left: 15px;
  }
  &:after{
    content: '';
    display: block;
    background-color: #000;
    height: 70%;
    width: 25px;
    position: absolute;
    right: 15px;
    bottom: -20px;
  }
}

.header__logo{
  text-transform: uppercase;
  text-align: center;
  z-index: 5;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  span{
    font-weight: bold;
  }
}

.header-nav{
  position: absolute;
  z-index: 10;
  width: 15%;
}

.header-nav__top{
  left: 55px;
  top: 60px;
}

.header-nav__bottom{
  bottom: 60px;
  right: 55px;
}

.header-nav__list{
  margin: 0;
  padding: 0;
}

.header-nav__top-list{
  .header-nav__list-link{
    padding-right: 10px;
  }
}

.header-nav__bottom-list{
  text-align: right;
  .header-nav__list-link{
    padding-left: 10px;
  }
}

.header-nav__list-item{
  list-style: none;
  margin-bottom: 15px;
  position: relative;
}

.header-nav__list-link{
  display: inline-block;
  text-transform: uppercase;
}

.header__line{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  background-color: #000;
  display: block;
}
.header__line-top{
  right: 0;
}

.header__line-bottom{
  left: 0;
}

.header__bg{
  width: 82.5%;
  height: 100vh;
  margin-left: auto;
  background: url("#{$imgUrl}header.jpg")no-repeat top center /cover;
  z-index: 0;
}