.footer{
  height: 276px;
  background: #777777;
  @include ai-flex-center();
  color: #fff;
  letter-spacing: 1px;
  font-family: $Brandon;
  .row{
    padding-top: 23px;
  }
}

.footer-menu__wrap{
  //border: 1px solid green;
  padding-left: 67px;
  @include flex-direction-col();
}

.footer-menu{
  margin-bottom: 40px;
}

.footer__title{
  text-transform: uppercase;
  margin-right: 40px;
  font-family: $baseFontFamily;
  font-size: 0.9rem;
}


.footer-menu__list{
  margin: 0;
  padding: 0;
}

.footer-menu__list-item{
  margin: 0 6px;
  display: inline-block;
  &:first-of-type{
    margin-left: 0;
  }
  &:last-of-type{
    margin-right: 0;
  }
}

.footer__link{
  display: block;
  color: #fff;
  font-size: $baseFontSize*0.8;
  letter-spacing: 1.8px;
  @include transition(0.3s all ease-in-out);
  &:hover,
  &:focus,
  &:active{
    text-shadow: 1px 1px 1px #312525;
  }
}

.footer-copyright{
  font-family: $baseFontFamily;
}

.footer-copyright__icon{
  display: inline-block;
  @include square(11px);
  background: url("#{$imgUrl}general/copyright.svg")no-repeat center /contain;
}

.footer-copyright__text{
  display: inline-block;
  text-transform: uppercase;
  font-size: $baseFontSize*0.7;
  letter-spacing: 1.3px;
}

.footer-info__wrap{
  //border: 1px solid red;

}

.footer-info__inner{
  margin-left: auto;
  margin-right: 7%;
}
.footer-socials-wrap{
  margin-bottom: 14px;
  @include flex-direction-col();
  .footer__title{
    margin-bottom: 14px;
  }
}

.footer-socials{

}

.footer-socials__link{
  display: block;
  margin-bottom: 10px;
}

.footer-socials__icon{
  display: inline-block;
  margin-right: 13px;
  vertical-align: bottom;
  margin-bottom: -2px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  color: #ffffff;

  @include transition(0.3s all ease-in-out);
}

.footer-socials__icon-mail{
  background-image: url("#{$imgUrl}general/email.png");
  width: 15px;
}

.footer-socials__icon-tel{
  background-image: url("#{$imgUrl}general/phone.png");
  width: 13px;
}



@media only screen and (min-width: map-get($grid-breakpoints, xl)) {
  .footer__container {
    max-width: 91%;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, xxl)){
  .footer-menu__list-item,
  .footer-socials__link {
    //margin: 0 10px;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, xl)){
  .footer-menu{
    @include flex-direction-col();
  }

 .footer__title {
    margin-bottom: 14px;
  }

  .footer-menu__list-item{
    margin: 0 1px;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md)) {
  .footer-menu__wrap {
    padding-left: 15px;
  }
  .footer-menu__wrap,
  .footer-socials-wrap {
   text-align: center;
  }
  .footer__title{
    display: none;
  }
  .footer-menu__wrap{
    margin-bottom: 30px;
  }
  .footer-menu__list-item{
    display: block;
    margin-bottom: 7px;
  }
  .footer-menu__list-link{
    text-transform: uppercase;
  }
  .footer-info__inner{
    margin: auto;
  }

}