.left-0{
  margin-left: -15px;
}

.right-0{
  margin-right: -15px;
}

body, html{
  &.no-scroll{
    overflow-y: hidden;
  }
  &.preload{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
    &.is-loading{
        overflow: hidden;
        .homepage-content__wrapper{
            opacity: 0;
            visibility: hidden;
        }
    }
    &.is-loaded{
        .homepage-content__wrapper{
            opacity: 1;
            visibility: visible;
        }
    }
}


@media only screen and (max-width: map-get($grid-breakpoints, md)){
  .left-sm-0{
    margin-left: -15px;
  }
  .right-sm-0{
    margin-right: -15px;
  }
  .left-sm-15{
    margin-left: 15px;
  }
  .right-sm-15{
    margin-right: 15px;
  }
}
