
.header{
  position: relative;
  height: 100vh;
  font-size: 1.2rem;
}

.header__line{
  position: fixed;
  display: block;
  background-color: #000;
  height: 70%;
  width: 1%;
  min-width: 25px;
  z-index: 50;
}

.header__line-left{
  top: 0;
  left: 50px;
}

.header__line-right{
  right: 50px;
  bottom: -20px;
}

.header__line-icon{
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 76%;
  height: 25px;
  cursor: pointer;
  @include transition(0.3s all ease);
  &.visible{
    opacity: 1;
    visibility: visible;
  }
}

.header__line-left-icon{
  background: url("#{$imgUrl}general/plus-white.svg")no-repeat center /contain;
  bottom: 10px;
}

.header__line-right-icon{
  background: url("#{$imgUrl}general/arrow-up.svg")no-repeat center /contain;
  top: 10px;
}

.header__line-link{
  position: absolute;
  text-transform: uppercase;
  color: #000;
  white-space: nowrap;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
  &.visible{
    opacity: 1;
    visibility: visible;
  }
  &.fixed{
    opacity: 1;
    visibility: visible;
    position: fixed;
  }
}

.header__line-menu-link{
  bottom: -35px;
  left: -44px;
}

.header__line-scroll-link{
  top: -35px;
  right: -42px;
}

.header__logo{
  z-index: 50;
  position: fixed;
  top: 49px;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 300px;
  width: 50%;
  height: 47px;
  background: url("#{$imgUrl}general/logo.png")no-repeat center /contain;
}

.header-nav{
  position: absolute;
  z-index: 10;
  width: 15%;
  @include transition(0.3s all ease);
  &.fixed{
    position: fixed;
  }
}

.header-nav__top{
  left: 90px;
  top: 60px;
}

.header-nav__bottom{
  bottom: 60px;
  right: 90px;
}

.header-nav__list{
  margin: 0;
  padding: 0;
}

.header-nav__top-list{
  .header-nav__list-link{
    padding-right: 10px;
  }
}

.header-nav__bottom-list{
  text-align: right;
  .header-nav__list-link{
    padding-left: 10px;
  }
}

.header-nav__list-item{
  list-style: none;
  margin-bottom: 15px;
  position: relative;
}

.header-nav__list-link{
  display: inline-block;
  text-transform: uppercase;
  color: $textColor;
  @include transition(0.3s all ease);
  &:hover,
  &:focus,
  &:active{
    color: $textColor;
  }
}

.header-nav__line{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  background-color: #000;
  display: block;
}
.header-nav__line-top{
  right: 0;
}

.header-nav__line-bottom{
  left: 0;
}

.header__bg{
  width: 82.5%;
  height: 100vh;
  margin-left: auto;
  background: url("#{$imgUrl}homepage/header.jpg")no-repeat top center /cover;
  z-index: 0;
}


@media only screen and (max-width: map-get($grid-breakpoints, lg)){
  .header-nav {
    width: 25%;
  }

  .header-nav__top {
    top: 125px;
  }
}


@media only screen and (max-width: map-get($grid-breakpoints, md)){
  .header__bg{
   margin-top: 140px;
  }

  .header-nav {
    width: 40%;
    display: none;
  }

  .header__line-left{
    left: 0;
  }

  .header__line-right{
    right: 0;
  }

  .header__bg{
    width: 100%;
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, sm)){
  .header__logo{
    max-width: 61%;
    min-width: 20%;
  }
}