.images__section {
    position: relative;
    .row{
        .img__wrap{
            opacity: 0;
            transform: translateY(20px);
        }
    }
}

.img__wrap {

}

.image__section-parallax {
    @include size(100%, 100vh);
    overflow: hidden;
    margin-bottom: 5rem;
}

.image__section-header {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200%;
    position: relative;
    top: -20%;

}

.image__section-02-header {
    background-image: url("#{$imgUrl}homepage/images-section-2-header.gif");
    @include size(100%, 100vh);
    margin-bottom: 5rem;
    top: 0;
}

.image__section-03-header {
    background-image: url("#{$imgUrl}homepage/images-section-3-header.jpg");
}

.image__section-04-header {
    background-image: url("#{$imgUrl}homepage/images-section-4-header.jpg");
}

.image__section-05-header {
    background-image: url("#{$imgUrl}homepage/images-section-5-header.jpg");
}

//section 1
.images__section-01 {
    padding: 5rem 0;
}

.img-section01__wrap-01 {
    margin-top: 35%;
}

.img-section01__wrap-02 {
    margin-right: -15px;
}

.img-section01__wrap-03 {
    margin-top: 40%;
}

.img-section01__wrap-04 {
    margin-top: -20px;
}

.img-section01__wrap-05 {
    margin-top: 25%;
}

//section 02

.images__section-02 {
    padding-top: 8rem;
}

.images__section-title {
    text-align: center;
    font-size: 9.6rem;
    font-weight: 400;
    z-index: 10;
    letter-spacing: 4px;
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;

    //display: none;
}

.img-section02__wrap-01 {

}

.img-section02__wrap-02 {
    margin-top: 28%;
}

.img-section02__wrap-03 {
    margin-top: 15%;
    padding-right: 0%;
}

.img-section02__wrap-04 {
    margin-top: 71%;
}

.img-section02__wrap-05 {
    margin-top: -20%;
}

//section 03
.images__section-03 {
    padding-bottom: 5rem;
}

.image__section-03-header {
    margin-top: -4px;
}

.img-section03__wrap-01 {
    padding-right: 7%;
}

.img-section03__wrap-02 {
    margin-top: 48%;
}

.img-section03__wrap-03 {

}

.img-section03__wrap-04 {
    margin-top: 71%;
}

.img-section03__wrap-05 {
    margin-top: -25%;
}

.img-section03__wrap-06 {
    margin-top: 10%;
    padding-left: 10%;
}

//section 04
.images__section-04 {
    padding-bottom: 5rem;
}

.image__section-04-header {

}

.img-section04__wrap-01 {

}

.img-section04__wrap-02 {
    margin-top: 15%;
    padding-left: 7%;
}

.img-section04__wrap-03 {
    margin-top: -27%;
    padding-left: 15%;
}

.img-section04__wrap-04 {
    padding-left: 7%;
    margin-top: 10%;
}

.img-section04__wrap-05 {
    margin-top: -25%;
}

.img-section04__wrap-06 {
    margin-top: 20%;
    padding-left: 6%;
}

.img-section04__wrap-07 {
    padding-right: 6%;
}

.img-section04__wrap-08 {
    padding-left: 10%;
}

.img-section04__wrap-09 {
    padding-left: 10%;
    padding-right: 4%;
}

.img-section04__wrap-10 {
    padding-right: 2%;
}

.img-section04__wrap-11 {
    padding-left: 6%;
}

.img-section05__wrap-02 {
    margin-top: 15%;
    padding-right: 10%;
}

.img-section05__wrap-04 {
    margin-top: -35%;
}

.img-section05__wrap-05 {
    margin-top: -45%;
}

@media only screen and (max-width: 1500px) {
    .images__section-title {
        font-size: 10.2rem;
        top: -138px;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, xxl)) {
    .images__section-title {
        font-size: 6rem;
        top: -77px;
    }
    .images__section-02 {
        padding-top: 5rem;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, xl)) {
    .images__section-title {
        font-size: 6rem;
        letter-spacing: 1.1rem;
        top: -77px;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, lg)) {
    .images__section-title {
        font-size: 4rem;
        letter-spacing: 1rem;
        top: -24px;
    }

    .image__section-parallax {
        height: 350px;
    }
    //.image__section-header {
    //    height: 350px;
    //}

    .image__section-02-header{
        height: 350px;
    }

}

@media only screen and (max-width: map-get($grid-breakpoints, md)) {

    //section 1
    .img-section01__wrap-02 {
        margin-right: 15px;
    }
    .img-section01__wrap-03 {
        margin-top: 7%;
    }
    .img-section01__wrap-04 {
        margin-top: 20%;
    }

    //section 2
    .images__section-02 {
        padding-top: 0;
    }
    .images__section-02 {
        padding-top: 0;
        //padding-bottom: 3rem;
    }
    .images__section-title {
        position: relative;
        top: 0;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 5rem;
        font-size: 2.8rem;
        letter-spacing: 1rem;
        span {
            text-transform: capitalize;
        }
    }
    .img-section02__wrap-01 {

    }
    .img-section02__wrap-02 {
        margin-top: 12%;
    }
    .img-section02__wrap-03 {
        margin-top: 10%;
        padding-right: 0;
    }
    .img-section02__wrap-04 {
        margin-top: 15%;
    }
    .img-section02__wrap-05 {
        margin-top: 20%;
    }

    //section 3
    .img-section03__wrap-01 {
        padding-right: 0;
    }

    .img-section03__wrap-02 {
        margin-top: 20%;
    }
    .img-section03__wrap-03 {
        margin-top: 10%;
    }
    .img-section03__wrap-04 {
        margin-top: 10%;
    }
    .img-section03__wrap-05 {
        margin-top: 5%;
    }
    .img-section03__wrap-06 {

    }
    //section 4
    .img-section04__wrap-03 {
        margin-top: 5%;
        padding-left: 0;
    }
    .img-section04__wrap-04 {
        padding-left: 0;
    }
    .img-section04__wrap-05 {
        margin-top: 5%;
    }
    .img-section04__wrap-06 {
        margin-top: 20%;
        padding-left: 0;
    }
    .img-section05__wrap-03 {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .img-section05__wrap-04 {
        margin-top: 5%;
    }
    .img-section05__wrap-05 {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    .images__section-01 {
        padding: 3rem 0;
    }
    .images__section-title {
        font-size: 2rem;
        letter-spacing: 0.3rem;
        margin-bottom: 3rem;
    }
    .image__section-header {
        margin-bottom: 3rem;
    }
    .images__section-03 {
        padding-bottom: 3rem;
    }
    .images__section-04 {
        padding-bottom: 3rem;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, xs)) {

}
